#scroll-left {
  animation: scroll-left 400s linear infinite;
  display: inline-block;
  white-space: nowrap;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
